{% extends "layout.html" %}

{% block content %}
  
		{% for hotel in all_hotels %}
			<div class="hotel-row row">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					<img class="hotel-img pull-left" src="/images/hotel-hotel-mulberry.jpg">
					<div class="hotel-information pull-left">
						<span class="featured-hotel">Featured Hotel</span>
							<h3 class="hotel-name">{{hotel.name}}</h3>
							<p class="hotel-address">
							{{hotel.place[0].address}}<br>
							{{hotel.place[0].city}}, {{hotel.place[0].state}}<br>
							<br>
							{{hotel.place[0].phone}}
							</p>
						<ul class="hotel-amenities">
							<li>{{hotel.place.amenities}}</li>
						</ul>
						</p>
					</div>
				</div>

				<div class="ratings">
					<i class="fa fa-star fa-2x"></i>
					<i class="fa fa-star fa-2x"></i>
					<i class="fa fa-star fa-2x"></i>
					<i class="fa fa-star fa-2x"></i>
					<i class="fa fa-star-half-o fa-2x"></i>
				</div>
				<br>

				<div class="button-area">
                	<button type="button" class="btn btn-default">Read reviews</button><br>
                	<button type="button" class="btn btn-primary">Choose this hotel</button>
        		</div>
			</div>
		{% endfor %}	

{% endblock %}