{% extends "layout.html" %}

{% block content %}
  
  <h3>Hotels</h3>
  <hr>


<div id="search-area" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	<div class="plan-nav">
		<ul>
			<li class="active">Hotels</li>
			<li>Restaurants</li>
			<li>Activities</li>
		</ul>
	</div>

	<div class="col-lg-12">
		<div class="hotel">
		{% for hotel in all_hotels%}
			<div class="hotel-row row">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					<img class="hotel-img pull-left" src="/images/hotel-hotel-mulberry.jpg">
					<div class="hotel-information pull-left">
						<span class="featured-hotel">Featured Hotel</span>
							<h3 class="hotel-name">{{hotel.name}}</h3>
							<p class="hotel-address">
							{{hotel.place.address}}<br>
							{{hotel.place.city}}, {{hotel.place.state}}
							</p>
						<ul class="hotel-amenities">
							<li>{{hotel.place.amenities}}</li>
						</ul>
						</p>
					</div>
				</div>

				<div class="ratings">
					<i class="fa fa-star fa-2x"></i>
					<i class="fa fa-star fa-2x"></i>
					<i class="fa fa-star fa-2x"></i>
					<i class="fa fa-star fa-2x"></i>
					<i class="fa fa-star-half-o fa-2x"></i>
				</div>
				<br>

				<div class="button-area">
					<button type="button" class="btn btn-info">Read reviews</button>
				</div>
			</div>
		{% endfor %}	
		</div>
	</div>
</div>
{% endblock %}