<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Trip Planner</title>

		<!-- Bootstrap CSS -->
		<link href="/stylesheets/normalize.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container top-image">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">TripPlanner</a>
			    </div>
			  </div><!-- /.container-fluid -->
			</nav>

			<div class="top-stuff text-center">
				<h2 class="white">Plan your trip</h2>

				<div class="col-lg-offset-2 col-md-offset-2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<div class="form-wrapper">
						<form class="form-inline">
	            <div class="form-group">
	                <div class='input-group date' id='datetimepicker1'>
	                    <input type='text' placeholder="When will you arrive?" class="form-control" />
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
	            </div>
						  <div class="form-group">
	                <div class='input-group date' id='datetimepicker1'>
	                    <input type='text' placeholder="When will you leave?" class="form-control" />
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
	            </div>
						  <span class="form-group">
						    In New York City
						  </span>
						  <button type="submit" class="btn btn-success">Start!</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid clearfix">
			<div id="search-area" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<div class="plan-nav">
					<ul>
						<li class="active">Hotels</li>
						<li>Restaurants</li>
						<li>Activities</li>
					</ul>
				</div>

				<div class="col-lg-12">
					<div class="hotel">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
			<div id="map-area" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<iframe id="gmap" width="100%" frameborder="0" style="border:0;" src="https://www.google.com/maps/embed/v1/view?zoom=10&center=40.7128,-74.0059&key=AIzaSyBV2ENQYqEynno5R02ZXoDnBzRABEMWHrY" allowfullscreen"></iframe>
			</div>
		</div>
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script>
		function jsUpdateSize(){
	    var height = window.innerHeight ||
	                 document.documentElement.clientHeight ||
	                 document.body.clientHeight;

	    console.log(height.toString());
	    document.getElementById('gmap').height = height.toString();// Display the height
		};

		$(window).scroll(function (event) {
	    var scroll = $(window).scrollTop();
	    var theMap = document.getElementById('map-area');
	    if (scroll > 500) {
	    	$(theMap).css({position: "fixed", top: 0, right: 0});
	    }
	    if (scroll < 500) {
	    	$(theMap).css({position: "relative", right: 0});
	    }
		});

		window.onload = jsUpdateSize;       // When the page first loads
		window.onresize = jsUpdateSize;     // When the browser changes size
		</script>
	</body>
</html>